<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="host" value="smtp.gmail.com" />
        <add key="username" value="scheduler.ztp" />
        <add key="password" value="ZAQ!2wsx" />
        <add key="sender" value="scheduler.ztp@gmail.com" />
    </appSettings>
</configuration>